<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author.name }}" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/reset.css" media="all">
  <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/style.css" media="all">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300italic|Crete+Round' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ ASSET_PATH }}/js/rotatescale.js"></script>
  <script type="text/javascript" src="{{ ASSET_PATH }}/js/accordion.js"></script>

</head>
<body>

  <div class="main">

      {{ content }}

      <div class="clear"></div>

      <p class="author">&copy; 2013 Jeremy Feinstein. All Rights Reserved.</p>
    </div>
</body>

</html>
