<div>
	<p>
	<a href="/">
		<img class="rounded-circle" src="/images/Headshot.jpg" style="filter: grayscale(0) brightness(1.0) contrast(1.0); width: 128px;">
	</a>
	</p>
	<ul class="list-sidebar list-unstyled" style="font-family: 'Open Sans'; font-weight: 800; letter-spacing: 0; text-transform: uppercase;">
		<li>
			<a href="/about" class="sidebar--link">
				About
			</a>
		</li>
		<li>
			<a href="/experience" class="sidebar--link">
				Experience
			</a>
		</li>
		<li>
			<a href="/projects" class="sidebar--link">
				Projects
			</a>
		</li>
		<li>
			<a href="/skills" class="sidebar--link">
				Skills
			</a>
		</li>
		<li>
			<a href="/blog" class="sidebar--link">
				Blog
			</a>
		</li>
		<li>
			<a href="/contact" class="sidebar--link">
				Contact
			</a>
		</li>
	</ul>
	<p>
		<a class="icon-link" href="https://www.github.com/jfeinstein10">
			<i class="fa fa-fw fa-github"></i>
		</a>
		<a class="icon-link" href="https://www.linkedin.com/in/jeremyfeinstein">
			<i class="fa fa-fw fa-linkedin"></i>
		</a>
		<a class="icon-link" href="https://twitter.com/jemfeinstein">
			<i class="fa fa-fw fa-twitter"></i>
		</a>
		<a class="icon-link" href="https://www.instagram.com/jemfeinstein">
			<i class="fa fa-fw fa-instagram"></i>
		</a>
		<a class="icon-link" href="https://www.piedpiper.com">
			<i class="fa fa-fw fa-pied-piper"></i>
		</a>
	</p>
</div>
